In [4]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [4]:
derecho_911 = pd.read_csv('../data/911_Phone Calls_Derecho_050320 050420.csv')

In [22]:
derecho_911.head(5)

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE

In [23]:
derecho_911.tail(5)

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
1544,5/4/2020 0:18,911 Calls,36.131694,-86.770535,1823-C 12TH AV - SECTOR SE S
1545,5/4/2020 0:22,911 Calls,36.042237,-86.743455,5244-C EDMONSON PIKE - SECTOR SE
1546,5/4/2020 0:25,911 Calls,36.077664,-86.655607,2747-B MURFREESBORO PKE - SECTOR NW
1547,5/4/2020 0:29,911 Calls,36.024706,-86.743562,302 SUMMIT VIEW DR - E
1548,5/4/2020 0:29,911 Calls,NaN,NaN,2014 QUAIL HOLLOW CIR

In [24]:
derecho_911.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549 entries, 0 to 1548
Data columns (total 5 columns):
Seizure DateTime      1549 non-null object
CallTypeId            1549 non-null object
ALI Latitude          1483 non-null float64
ALI Longitude         1483 non-null float64
Cell Tower Address    1525 non-null object
dtypes: float64(2), object(3)
memory usage: 60.6+ KB

In [25]:
 derecho_911.isnull().sum()

Seizure DateTime       0
CallTypeId             0
ALI Latitude          66
ALI Longitude         66
Cell Tower Address    24
dtype: int64

In [26]:
derecho_911.shape

(1549, 5)

In [17]:
#skiprows can ignore the first few rows fixing parsing issues
derecho_dispatch = pd.read_csv('../data/Computer Aided Dispatch Data_Derecho Incidents 050320-050420.csv', skiprows=2)

In [19]:
derecho_dispatch.head(10)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD
5,5/3/2020 4:33:53 PM,622 BROOK HOLLOW RD,36.111773,-86.888087,ELECTRICAL HAZARD
6,5/3/2020 4:34:19 PM,JOCELYN HOLLOW RD / BRESSLYN RD,36.103318,-86.898080,ELECTRICAL HAZARD
7,5/3/2020 4:35:01 PM,WOODLAND ST / S 7TH ST,36.173583,-86.760339,SEIZURE: EFFECTIVE BREATHING NOT VERIFIED >35
8,5/3/2020 4:36:42 PM,3000 POSTON AV,36.145332,-86.815356,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
9,5/3/2020 4:37:04 PM,51ST AV N / CENTENNIAL BLVD,36.162326,-86.849144,ELECTRICAL HAZARD

In [27]:
derecho_dispatch.tail(5)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
622,5/4/2020 12:21:00 AM,625 BENTON AV,36.131384,-86.770628,HIGH RISE NATURAL GAS ODOR
623,5/4/2020 12:21:32 AM,518 BRENTLAWN DR,36.064362,-86.761199,UNKNOWN STATUS
624,5/4/2020 12:22:47 AM,517 ALBANY DR,36.212754,-86.600431,ELECTRICAL HAZARD
625,5/4/2020 12:27:52 AM,639 LAFAYETTE ST,36.153769,-86.777520,SICK PERSON: NO PRIORITY SYMPTOMS
626,5/4/2020 12:29:50 AM,2011 HAYES ST,36.151839,-86.800791,PULL STATION ALARM COMMERCIAL INDUSTRIAL BUILD

In [28]:
derecho_dispatch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 5 columns):
IncidentDate                627 non-null object
Location                    627 non-null object
Latitude1                   627 non-null float64
Longitude1                  627 non-null float64
IncidentTypeDescription1    627 non-null object
dtypes: float64(2), object(3)
memory usage: 24.6+ KB

In [29]:
derecho_dispatch.shape

(627, 5)

In [6]:
tornado_911 = pd.read_csv('../data/911_Phone_Calls_Tornado_030320.csv')

In [32]:
tornado_911.head(5)

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector
3,3/3/2020 0:36,911 Calls,NaN,NaN,526 FOUNDRY DR
4,3/3/2020 0:36,911 Calls,36.233467,-86.721077,5007B RUSKIN AVE - N

In [33]:
tornado_911.tail(5)

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
470,3/3/2020 4:54,911 Calls,36.142552,-86.635330,WIRELESS CALLER
471,3/3/2020 4:54,911 Calls,36.189415,-86.813557,WIRELESS CALLER
472,3/3/2020 4:55,911 Calls,36.223534,-86.757874,WIRELESS CALLER
473,3/3/2020 4:56,911 Calls,36.168398,-86.783774,600 DR MARTIN L KING JR BLVD - NE
474,3/3/2020 4:58,911 Calls,36.276566,-86.799417,4884 LICKTON PIKE - SE

In [34]:
tornado_911.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 5 columns):
Seizure DateTime      475 non-null object
CallTypeId            475 non-null object
ALI Latitude          450 non-null float64
ALI Longitude         450 non-null float64
Cell Tower Address    468 non-null object
dtypes: float64(2), object(3)
memory usage: 18.7+ KB

In [37]:
tornado_911.shape

(475, 5)

In [38]:
 tornado_911.isnull().sum()

Seizure DateTime       0
CallTypeId             0
ALI Latitude          25
ALI Longitude         25
Cell Tower Address     7
dtype: int64

In [20]:
tornado_dispatch = pd.read_csv('../data/Computer Aided Dispatch Data_Tornado Incidents 030320.csv', skiprows=2)

In [21]:
tornado_dispatch.head(10)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 12:39:40 AM,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 12:39:42 AM,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
5,3/3/2020 12:40:11 AM,1406 COUNTY HOSPITAL RD,36.178264,-86.850464,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
6,3/3/2020 12:41:31 AM,920 BROADWAY,36.158347,-86.784207,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
7,3/3/2020 12:42:30 AM,518 MONROE ST,36.176519,-86.790233,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
8,3/3/2020 12:42:51 AM,1625 DR D B TODD JR BLVD,36.175630,-86.809654,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
9,3/3/2020 12:42:51 AM,1625 DR D B TODD JR BLVD,36.175630,-86.809654,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD

In [39]:
tornado_dispatch.tail(5)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
255,3/3/2020 4:53:43 AM,1616 23RD AV N,36.175739,-86.813173,WIRES DOWN WITH NO SMOKE OR ARCING POWER DISCO...
256,3/3/2020 4:56:56 AM,5610 OLD HICKORY BLVD,36.180487,-86.601466,LARGE BUILDING INVESTIGATION
257,3/3/2020 4:57:06 AM,2903 MORNINGSIDE DR,36.223554,-86.757949,CHEST PAIN - ABNORMAL BREATHING
258,3/3/2020 4:57:14 AM,1730 KELLOW ST,36.189445,-86.813466,ABNORMAL BREATHING OTHER LUNG PROBLEMS
259,3/3/2020 4:57:48 AM,I24 W / HICKORY HOLLOW PKWY,36.039720,-86.649099,UNKNOWN STATUS:

In [40]:
tornado_dispatch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
IncidentDate                260 non-null object
Location                    260 non-null object
Latitude1                   260 non-null float64
Longitude1                  260 non-null float64
IncidentTypeDescription1    260 non-null object
dtypes: float64(2), object(3)
memory usage: 10.3+ KB

A timeline of Derecho Beginning and end of the event Times of stronger storm impacts, based on call volumes
- every 30 mins

In [52]:
print(derecho_911.dtypes)

Seizure DateTime       object
CallTypeId             object
ALI Latitude          float64
ALI Longitude         float64
Cell Tower Address     object
dtype: object

In [64]:
derecho_911['Seizure DateTime'] = pd.to_datetime(derecho_911['Seizure DateTime'])
derecho_911.resample('15min', on='Seizure DateTime').CallTypeId.count()

Seizure DateTime
2020-05-03 16:30:00     73
2020-05-03 16:45:00     69
2020-05-03 17:00:00     67
2020-05-03 17:15:00     63
2020-05-03 17:30:00     67
2020-05-03 17:45:00     85
2020-05-03 18:00:00     70
2020-05-03 18:15:00     85
2020-05-03 18:30:00     84
2020-05-03 18:45:00    112
2020-05-03 19:00:00     71
2020-05-03 19:15:00     82
2020-05-03 19:30:00     56
2020-05-03 19:45:00     58
2020-05-03 20:00:00     54
2020-05-03 20:15:00     58
2020-05-03 20:30:00     37
2020-05-03 20:45:00     40
2020-05-03 21:00:00     34
2020-05-03 21:15:00     32
2020-05-03 21:30:00     29
2020-05-03 21:45:00     27
2020-05-03 22:00:00     27
2020-05-03 22:15:00     51
2020-05-03 22:30:00     31
2020-05-03 22:45:00     22
2020-05-03 23:00:00     14
2020-05-03 23:15:00     11
2020-05-03 23:30:00     10
2020-05-03 23:45:00     13
2020-05-04 00:00:00      9
2020-05-04 00:15:00      8
Freq: 15T, Name: CallTypeId, dtype: int64

Geospatial map of derecho impact based on call volume 
- plot geographic path

In [5]:
zipcodes = gdp.read_file('../data/zipcodes.geojson')
print(zipcodes,crs)
zipcodes.head()

NameError: name 'gdp' is not defined